/*
Color palette:
/* CSS HEX */
--dusty-taupe: #A3856Eff;
--dark-goldenrod: #A28439ff;
--olive-wood: #745E3Bff;
--camel: #B69C7Eff;
--desert-sand: #E6BEA5ff;

/* -- GLOBAL -- */
body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;

}

img {
  max-width: 100%;
}

/* -- HEADER -- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid black;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.navList {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 16px;
}

.navLink {
  color: black;
}

/* -- MAIN -- */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  height: 100vh;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
}

.heroText,
.heroImg {
  width: 50%;
}

.heroText {
  text-align: center;
}

/* About */
.about {
  display: flex;
  align-items: center;
}

.aboutText,
.aboutImg {
  width: 50%;
}

.aboutText {
  text-align: center;
}

/* Projects */
.projects {
  display: flex;
  justify-content: space-around;
}

.projectCard {
  border: 3px dotted black;
  height: 500px;
  padding: 0 8px 0 8px;
}

/* -- FOOTER -- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits p {
  margin: 4px;
}

/* -- MEDIA -- */
@media (max-width: 769px) {
  .hero,
  .about,
  .projects {
    flex-direction: column;
    height: 100%;
    padding: 25px 0;
  }

  .about {
    flex-direction: column-reverse;
  }

  .projects {
    gap: 10px;
  }
}
